.top_grid{
    margin-top: 30px;
    display: flex;
    margin-inline: 7vw;
    font-size: 1.8rem;
    color: white;
    justify-content: space-between;
    font-weight: 500;
    padding: 2vw 2vw;
}
.view{
    font-size: 1.3rem;
}
.view_main{
    gap: 2vw;
    display: flex;
    align-items: center;
}
.fa-angle-right{
    font-size: 30px;
    font-weight: 600;
    color: linear-gradient(130deg, #743ad5, #d53a9d);
	background: linear-gradient(130deg, #743ad5, #d53a9d);;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.grid{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-inline: 7vw;
}