@mixin common($justify) {
    display: flex;
    justify-content: $justify;
}
.borderwhite{
    border: 1px solid white;
}
.top_grid{
    @include common(space-between);
    margin-top: 30px;
    margin-inline: 7vw;
    font-size: 1.8rem;
    background-color: #141a3f;
    color: white;
    font-weight: 500;
    padding: 2vw 2vw;
}
.view{
    font-size: 1.3rem;
}
.view_main{
    gap: 2vw;
    display: flex;
    align-items: center;
}
.fa-angle-right{
    font-size: 30px;
    font-weight: 600;
    color: linear-gradient(130deg, #743ad5, #d53a9d);
	background: linear-gradient(130deg, #743ad5, #d53a9d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.grid{
    @include common(center);
    flex-wrap: wrap;
    margin-top: 50px;
    margin-inline: 7vw;
    gap: 30px;
}
.live{
    margin-top: 110px !important;
}
@media screen and (max-width: 600px){
    .top_grid{
        font-size: 1.3rem;
    }
    .view {
        font-size: 1rem;
    }
    .fa-angle-down{
        margin-left: -10px !important;
    }
} 