.fa-angle-down{
    font-size: 20px;
    font-weight: 600;
    color: linear-gradient(130deg, #743ad5, #d53a9d);
	background: linear-gradient(130deg, #743ad5, #d53a9d);;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-left: -15px;
    padding-inline: 4px;
    border-radius: 50%;
}
.fa-check{
    border: 2px solid white;
    border-radius: 50%;
    font-size: 15px;
}
.collectorgrid, .collectiongrid{
    // gap: 30px;
    // margin-top: 50px;
    // margin-inline: 7vw;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-inline: 7vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.collector_grid{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: #141a3f;
    width: 360px;
}
.readmore{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.readmore button{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 28px 20px;
    border: none;
    background-image: linear-gradient(130deg, #d53a9d, #743ad5);
}
.collector_img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.collector_grid .flex2{
    gap: 20px;
}
.flex2{
    align-items: center;
    color: white;
    display: flex;
}
.rate{
    background: linear-gradient(130deg, #743ad5, #d53a9d);
    color: white;
    padding: 5px 8px;
    border-radius: 50px;
}
.dollar{
    color: rgb(231, 221, 221);  
    margin-top: 5px;
    font-size: 12px;
}